<div class="table_title">
  <div class="shift_links">
    <div class="last_week">
      <%= link_to "&lt;&lt; Last Week", :date => (@week_days.first - 7)  %>
    </div>
    <div class="next_week">
      <%= link_to "Next Week &gt;&gt;", :date => (@week_days.last + 1)  %>
    </div>
  </div>
  <div class="week_title">
    <%= @week_days.first.to_s(:just_date_long) %> to <%= @week_days.last.to_s(:just_date_long) %>
  </div>
</div>
