  <% if @users.length == 1 %>
    <% for user in @users %>
      <h2><%= user.name %></h2>
          <tr>
            <td align='left'  width=30%><strong>Unsubmitted</strong></td>
            <td align='center'><strong>Submitted</strong></td>
            <td align='right' width=30%><strong>Printed</strong></td>
          </tr>
        <%= render :partial => "payform/view_all_line", :collection => user.payforms.in_department(@department.id) %>
      </table>
      
    <% end %>
  <% end %>