<%- stickies = @stickies -%>
<%- levels = [@department, @location_group, @location, @user] -%>

<%- levels.each do |level| -%>
  <%- for announce in @announcements
if announce.authorized?(level)-%>
<%= render :partial => 'notice', :object => announce %>
  <%-
    end
    announce
end
  end
-%>

<%- @stickies.each do |sticky| %>
  <%= render :partial => 'notice', :object => sticky %>
<%- end -%>

<fieldset class="sticky" style="width: 48%">
  <div class="grayright">
    <%= link_to '[advanced]', {:controller => 'sticky', :action => 'sticky_add', :options => true},
          {:onclick => make_popup(:title => "Post New Sticky (advanced)", :width => 600)} %>
  </div>

  <%= link_to 'post a new sticky note', {:controller => 'sticky', :action => 'sticky_add'},
          {:onclick => make_popup(:title => "Post New Sticky", :width => 600)} %>
</fieldset>

