<div id="login">
  <p class="login_status"> 
    You are currently logged in as <strong><%= get_user.login %></strong>  <%= link_to "[Log out]", :controller => "account", :action => "logout" %>
  </p>
</div>
