<h1>Logged Out</h1>

<p>You are now logged out of the system, but you may still be logged into CAS.</p>
<p><a href="https://secure.its.yale.edu/cas/servlet/logout?redirect=no">[Log out of CAS]</a></p>

<em>or</em>

<%= link_to '[Log back in]', :controller => 'account', :action => 'login' %>
