<% title "Data Entry" %>

<p>
  <strong>Content:</strong>
  <%=h @data_entry.content %>
</p>

<p>
  <%= link_to "Edit", edit_data_entry_path(@data_entry) %> |
  <%= link_to "Destroy", @data_entry, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", data_entries_path %>
</p>
